@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

select {
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('../images/caret-down.png');
  background-position: calc(100% - 10px) calc(0.75em + 2px);
  background-repeat: no-repeat;
}

select.btn:focus {
  background-image: url('../images/caret-up.png');
  background-position: calc(100% - 10px) calc(0.70em + 2px);
  background-repeat: no-repeat;
}

#trigger:checked + div {
  display: block;
}
#trigger:checked + div + div {
  padding-top: 1.5rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .zero-height {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .zero-width {
    width: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .heading-1 {
    font-size: 36px;
    line-height: 47px;
  }
  .heading-2 {
    font-size: 30px;
    font-weight: light;
    line-height: 39px;
  }
  .heading-3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 27px;
  }
  .heading-4 {
    font-size: 18px;
    line-height: 23px;
  }
  .heading-5 {
    font-size: 14px;
    line-height: 18px;
  }
  .heading-6 {
    font-size: 12px;
    line-height: 15px;
  }
  .btn-xs {
    padding: 4px 19px;
    border-radius: 4px;
    font-size: 0.8rem;
  }
  .btn-sm {
    padding: 10px 17px;
    border-radius: 4px;
  }
  .btn-md {
    height: 30px;
    padding: 0px 19px;
    border-radius: 4px;
    font-size: 14px;
  }
  .btn-lg {
    height: 42px;
    border-radius: 4px;
    font-size: 14px;
  }
  .btn-xl {
    padding: 21px 89px;
    border-radius: 4px;
  }
  .bullet-points {
    list-style-image: url('../images/arrow-right.png');
  }
}